//*Banner Section Starts
.banner_main {
    width: 100%;
    height: 500px;
    .banner_inner {
        width: 100%;
        height: 500px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url('../dist/img/banner.webp');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        .content_main {
            width: 100%;
            .heading_small_txt {
                p {
                    font-family: "Lora", serif;
                    font-weight: 800;
                    font-size: 22px;
                    color: antiquewhite;
                    text-shadow: 0 0 3px rgb(9, 12, 182);
                }
            }
            .heading_big_txt {
                p {
                    font-family: "Lora", serif;
                    font-weight: 900;
                    font-size: 36px;
                    color: antiquewhite;
                    text-shadow: 0 0 2px rgba(233, 218, 7, 0.9);
                }
            }
            .txt {
                p {
                    font-family: "Lora", serif;
                    font-weight: 700;
                    font-size: 18px;
                    color: antiquewhite;
                    span {
                        font-size: 20px;
                        color: #0a0236;
                        text-shadow: 0 0 3px white;
                    }
                }
            }
            button {
                width: 100px;
                height: 50px;
                background: linear-gradient(10deg, #e2c72e, #2a521d, #322547);
                font-family: "Lora", serif;
                font-weight: 600;
                font-size: 20px;
                color: white;
                margin-top: 30px;
                border-radius: 6px;
                -webkit-border-radius: 6px;
                -moz-border-radius: 6px;
                -ms-border-radius: 6px;
                -o-border-radius: 6px;
                text-shadow: 0 0 3px rgb(9, 12, 182);
            }    
        }
    }
}
//*Banner Section Ends
//!Live Radio Starts
.radio_main {
    width: 30%;
    .radio_inner {
        width: 100%;
        .for_icon {
            color: red;
            font-size: 12px;
        }
        .for_txt {
            .radio_txt {
                p {
                    font-family: "Lora", serif;
                    font-weight: 600;
                    font-size: 20px;
                    color: rgb(255, 255, 255);
                }
            }
            .radio_icon {
                .arrow {
                    color: rgb(229, 255, 0);
                }
            }
        }
    }
}
.banner_main {
    position: relative;
}
.radio_main {
    position: absolute;
    top: 30%;
    right:-16%;
}